// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.hero__container {
  background-image: url("../../src/images/bg-hero-desktop.svg");
  background-repeat: repeat;
  background-size: cover;
  margin: 2em 6em;
}
